<h2>All transactions from API call:</h2>

<ul id="transactions">
  <% @results.each do |result| %>
    <li>
      Transaction Type: <%= result['transaction_type'] %> | 
      Transaction Token: <%= result['token'] %> | 
      Created At: <%= result['created_at'] %> | 
    </li>
  <% end %>
</ul>

<h2>All transactions in local database:</h2>

<ul id="transactions">
  <% @transactions.each do |transaction| %>
    <li>
      Created At: <%= transaction.created_at %> | 
      Transaction Token: <%= transaction.transaction_token %> | 
      Total Charge: $<%= transaction.total_charge %>
    </li>
  <% end %>
</ul>