<h2>All transactions from API call:</h2>

<ul id="transactions">
  <% @transactions_results.each do |result| %>
    <li>
      Transaction Type: <%= result['transaction_type'] %> | 
      Transaction Token: <%= result['token'] %> | 
      Created At: <%= Time.parse(result['created_at']) %> | 
    </li>
  <% end %>
</ul>

<h2>All payment methods from API call:</h2>

<ul id="transactions">
  <% @payment_methods_results.each do |result| %>
    <li>
      Test?: <%= result['test'] %> |
      Payment Method Type: <%= result['payment_method_type'] %> |
      Card Type: <%= result['card_type'] %> |
      Payment Method Token: <%= result['token'] %> | 
      Fingerprint: <%= result['fingerprint'] %> |
      Full Name: <%= result['full_name'] %> | 
      Created At: <%= Time.parse(result['created_at']) %> | 
    </li>
  <% end %>
</ul>

<h2>All transactions in local database:</h2>

<ul id="transactions">
  <% @transactions.each do |transaction| %>
    <li>
      Created At: <%= transaction.created_at %> | 
      Transaction Token: <%= transaction.transaction_token %> | 
      Total Charge: $<%= transaction.total_charge %>
    </li>
  <% end %>
</ul>